.resizable-x,
.resizable-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.resizable-x {
  height: 100%;
}

.resizable-y {
  min-width: 22%;
}

.resizer-x,
.resizer-y {
  position: relative;
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resizer-x {
  z-index: 2;
  cursor: col-resize;
}

.resizer-x::before {
  content: "";
  width: 4px;
  height: 25px;
  margin: 2px;
  background: #98adc2;
  border-radius: 5px;
}

.resizer-y {
  z-index: 1;
  cursor: row-resize;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resizer-y::before,
.resizer-y::after {
  content: "";
  width: 3px;
  height: 35px;
  margin: 2px;
  background: #98adc2;
  border-radius: 5px;
}